<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ToDoList</title>
</head>
<body>
	<h1>할 일 목록</h1>

	<label for="seach">내용 : </label>	
	<input type="text" id="seach" name="seach">
	<input type="button" value="검색"><br>
	<br>
	<table border="1">
		<thead>
			<tr>
				<th>완료</th>
				<th>번호</th>
				<th>내용</th>
				<th>삭제</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<input type="checkbox">
				</td>
				<td>번호</td>
				<td>내용</td>
				<td>
					<input type="button" value="삭제">
				</td>
			</tr>
		</tbody>
	</table><br>
	
	<a>페이징 추가할거임</a>
	
	<h1>할 일 추가</h1>
	<input type="text">
	<input type="button" value="추가하기">
</body>
</html>